body {
    font-family: Oswald, Heletica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav_bar {
    display: flex;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
}

.nav_bar li {
    margin: 3px 15px 3px 0px;
}